In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
from keras.layers import Dropout

C:\Users\shunmukesh\Anaconda3\lib\site-packages\h5py\__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters
Using TensorFlow backend.

In [2]:
df=pd.read_csv('kindney_disease.csv')

FileNotFoundError: File b'kindney_disease.csv' does not exist

In [3]:
df = pd.read_csv('epidemic.csv')

In [4]:
df.head()

   age  Bb     sg  al  su     rbc  pcv        pc    wc  htn appet
0   48  80  1.020   1   0     NAN   44     nomal  7800  yes  good
1    7  50  1.020   4   0     NAN   38    normal  6000   no  good
2   62  50  1.010   2   3   Nomal   31    normal  7500   no   poo
3   48  70  1.005   4   0   nomal   32  abnormal  6700  yes  poor
4   51  80  1.010   2   0  normal   35     nomal  7300   no  good

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 11 columns):
age      5 non-null int64
Bb       5 non-null int64
sg       5 non-null float64
al       5 non-null int64
su       5 non-null int64
rbc      5 non-null object
pcv      5 non-null int64
pc       5 non-null object
wc       5 non-null int64
htn      5 non-null object
appet    5 non-null object
dtypes: float64(1), int64(6), object(4)
memory usage: 520.0+ bytes

In [6]:
df.isnull().sum()

age      0
Bb       0
sg       0
al       0
su       0
rbc      0
pcv      0
pc       0
wc       0
htn      0
appet    0
dtype: int64

In [7]:
df.describe()

,age,Bb,sg,al,su,pcv,wc
count,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000
mean,43.200000,66.000000,1.013000,2.600000,0.600000,36.000000,7060.000000
std,21.040437,15.165751,0.006708,1.341641,1.341641,5.244044,716.240183
min,7.000000,50.000000,1.005000,1.000000,0.000000,31.000000,6000.000000
25%,48.000000,50.000000,1.010000,2.000000,0.000000,32.000000,6700.000000
50%,48.000000,70.000000,1.010000,2.000000,0.000000,35.000000,7300.000000
75%,51.000000,80.000000,1.020000,4.000000,0.000000,38.000000,7500.000000
max,62.000000,80.000000,1.020000,4.000000,3.000000,44.000000,7800.000000

In [8]:
for i in ['age','Bb','sg','al','su'];
    dif[i].fillna(df[i].mean(),inplace=true)

SyntaxError: invalid syntax (<ipython-input-8-7d6e9d6b71b6>, line 1)

In [9]:
sns.countplot(data=df,x='rbc')
 df['rbc'].fillna('normal',inplace=true)

IndentationError: unexpected indent (<ipython-input-9-1eb1258bd857>, line 2)